<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="position2" translate="label" sortOrder="10">
            <label>Position2</label>
        </tab>
        <section id="advancedcompare" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Advance Compare</label>
            <tab>position2</tab>
            <resource>Positionsquare_Advancedcompare::advancedcompare_config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>General Configuration</label>
                <field id="enable" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Module Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="compare_product_count" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Compare Product Count</label>
                    <comment>This amount will restric compare list</comment>
                    <validate>required-entry validate-digits validate-greater-than-zero</validate>
                </field>
            </group>
        </section>
    </system>
</config>
